extends ../layout

block content

  div.emp
    h1.hemp New Employee
  div.container
    form(action='/restaurants/'+restaurant.id+'/employees' method='POST')
      fieldset.femp
        legend New Employee
        div.form-group
          label(for='first_name') First Name
          br
          input.form-control(type='text' id='first_name' name='first_name' placeholder='First')
        div.form-group
          label(for='last_name') Last Name
          br
          input.form-control(type='text' id='last_name' name='last_name' placeholder='Last')
        div.form-group
          label(for='position') Position
          br
          select(type='text' id='position' name='position')
            option(value='Chef' selected='selected') Chef
            option(value='Host') Host
            option(value='Manager') Manager
            option(value='Server') Server
        div.buttons
          button.btn.btn-primary#sub(type='submit') Submit
          a.btn.btn-primary(href='/restaurants/'+restaurant.id) Cancel
