extends ../layout

block content

  div.new
    h1.hnew New Restaurant
  div.container
    form(action='/:id' method='post')
      fieldset.fnew
        legend Create Restaurant
        div.form-group
          label(for='name') Name
          br
          input.form-control(type='text' id='name' placeholder='Restaurant Name' name='name')
        div.form-group
          label(for='street1') Street1
          br
          input.form-control(type='text' id='street1' placeholder='Street1' name='street1')
        div.form-group
          label(for='street2') Street2
          br
          input.form-control(type='text' id='street2' placeholder='Street2' name='street2')
        div.form-group
          label(for='city') City
          br
          input.form-control(type='text' id='city' placeholder='City' name='city')
        div.form-group
          select(type='text' id='state' name='state')
            option(value='AL' selected='selected') Alabama
            option(value='AK') Alaska
            option(value='AZ') Arizona
            option(value='AR') Arkansas
            option(value='CA') California
            option(value='CO') Colorado
            option(value='CT') Connecticut
            option(value='DE') Delaware
            option(value='DC') District Of Columbia
            option(value='FL') Florida
            option(value='GA') Georgia
            option(value='HI') Hawaii
            option(value='ID') Idaho
            option(value='IL') Illinois
            option(value='IN') Indiana
            option(value='IA') Iowa
            option(value='KS') Kansas
            option(value='KY') Kentucky
            option(value='LA') Louisiana
            option(value='ME') Maine
            option(value='MD') Maryland
            option(value='MA') Massachusetts
            option(value='MI') Michigan
            option(value='MN') Minnesota
            option(value='MS') Mississippi
            option(value='MO') Missouri
            option(value='MT') Montana
            option(value='NE') Nebraska
            option(value='NV') Nevada
            option(value='NH') New Hampshire
            option(value='NJ') New Jersey
            option(value='NM') New Mexico
            option(value='NY') New York
            option(value='NC') North Carolina
            option(value='ND') North Dakota
            option(value='OH') Ohio
            option(value='OK') Oklahoma
            option(value='OR') Oregon
            option(value='PA') Pennsylvania
            option(value='RI') Rhode Island
            option(value='SC') South Carolina
            option(value='SD') South Dakota
            option(value='TN') Tennessee
            option(value='TX') Texas
            option(value='UT') Utah
            option(value='VT') Vermont
            option(value='VA') Virginia
            option(value='WA') Washington
            option(value='WV') West Virginia
            option(value='WI') Wisconsin
            option(value='WY') Wyoming
        div.form-group
          label(for='zip') Zip Code
          br
          input.form-control(type='text' id='zip' placeholder='Zip Code' name='zip')
        div.form-group
          label(for='neighborhood') Neighborhood
          br
          select(type='text' id='neighborhood' name='neighborhood')
            option(value='Barker' selected='selected') Barker
            option(value='Breezedale') Breezedale
            option(value='Briarwood') Briarwood
            option(value='Brook Creek') Brook Creek
            option(value='Centennial') Centennial
            option(value='Congressional Place') Congressional Place
            option(value='Cottages') Cottages
            option(value='Deerfield') Deerfield
            option(value='9') Downtown
            option(value='East Lawrence') East Lawrence
            option(value='Edgewood TA') Edgewood TA
            option(value='Gateway') Gateway
            option(value='Hillcrest') Hillcrest
            option(value='Hills West') Hills West
            option(value='Indian Hills') Indian Hills
            option(value='Joseph Drive') Joseph Drive
            option(value='Meadows Place') Meadows Place
            option(value='Monterey') Monterey
            option(value='North Lawrence') North Lawrence
            option(value='Old West Lawrence') Old West Lawrence
            option(value='Oread Neighborhood') Oread Neighborhood
            option(value='Oread Residents') Oread Residents
            option(value='Park Hill') Park Hill
            option(value='Perry Park') Perry Park
            option(value='Pinckney') Pinckney
            option(value='Prairie Meadows') Prairie Meadows
            option(value='Prairie Park') Prairie Park
            option(value='Quail Ridge East') Quail Ridge East
            option(value='Quail Run') Quail Run
            option(value='Raintree') Raintree
            option(value='Scenic Riverway') Scenic Riverway
            option(value='South Meadow') South Meadow
            option(value='South Siders') South Siders
            option(value='Southern Parkway') Southern Parkway
            option(value='Stoneback Ridge') Stoneback Ridge
            option(value='Sunflower') Sunflower
            option(value='Sunset Hills') Sunset Hills
            option(value='The Cottages') The Cottages
            option(value='University Heights') University Heights
            option(value='University Place') University Place
            option(value='West Hills') West Hills
            option(value='West Lawrence') West Lawrence
            option(value='Western Hills') Western Hills
            option(value='Westwood') Westwood
            option(value='Woods on 19th') Woods on 19th
        div.form-group
          label(for='cuisine') Cuisine
          br
          select(type='text' id='cuisine' name='cuisine')
            option(value='African' selected='selected') African
            option(value='American') American
            option(value='Breakfast') Breakfast
            option(value='Cajun') Cajun
            option(value='Indian') Indian
            option(value='Italian') Italian
            option(value='Mexican') Mexican
            option(value='Sushi') Sushi
            option(value='Thai') Thai
            option(value='Vietnamese') Vietnamese
        div.form-group
          label Rating
          input(type='radio' name='rating' value='1' checked)
          input(type='radio' name='rating' value='2')
          input(type='radio' name='rating' value='3')
          input(type='radio' name='rating' value='4')
          input(type='radio' name='rating' value='5')
        div.form-group
          label(for='image') Image
          input.form-control(type='text' id='image' placeholder='Image URL' name='image')
        div.form-group
          label(for='bio')
          textarea.form-control(rows='5' id='bio' placeholder='Short Bio' name='bio')
        div.buttons
          button.btn.btn-primary#sub(type='submit') Submit
          a.btn.btn-primary(href='/') Cancel
