extends ../layout

block content

  div.new
    h1.hnew New Restaurant
  div.container
    form(action='/restaurants' method='post')
      fieldset.fnew
        legend Create Restaurant
        div.form-group
          label(for='name') Name
          br
          input.form-control(type='text' id='name' placeholder='Restaurant Name' name='name')
        div.form-group
          label(for='street1') Street1
          br
          input.form-control(type='text' id='street1' placeholder='Street1' name='street1')
        div.form-group
          label(for='street2') Street2
          br
          input.form-control(type='text' id='street2' placeholder='Street2' name='street2')
        div.form-group
          label(for='city') City
          br
          input.form-control(type='text' id='city' placeholder='City' name='city')
        div.form-group
          select(type='text' id='state' name='state')
            option(value='AL' selected='selected') Alabama
            option(value='AK') Alaska
            option(value='AZ') Arizona
            option(value='AR') Arkansas
            option(value='CA') California
            option(value='CO') Colorado
            option(value='CT') Connecticut
            option(value='DE') Delaware
            option(value='DC') District Of Columbia
            option(value='FL') Florida
            option(value='GA') Georgia
            option(value='HI') Hawaii
            option(value='ID') Idaho
            option(value='IL') Illinois
            option(value='IN') Indiana
            option(value='IA') Iowa
            option(value='KS') Kansas
            option(value='KY') Kentucky
            option(value='LA') Louisiana
            option(value='ME') Maine
            option(value='MD') Maryland
            option(value='MA') Massachusetts
            option(value='MI') Michigan
            option(value='MN') Minnesota
            option(value='MS') Mississippi
            option(value='MO') Missouri
            option(value='MT') Montana
            option(value='NE') Nebraska
            option(value='NV') Nevada
            option(value='NH') New Hampshire
            option(value='NJ') New Jersey
            option(value='NM') New Mexico
            option(value='NY') New York
            option(value='NC') North Carolina
            option(value='ND') North Dakota
            option(value='OH') Ohio
            option(value='OK') Oklahoma
            option(value='OR') Oregon
            option(value='PA') Pennsylvania
            option(value='RI') Rhode Island
            option(value='SC') South Carolina
            option(value='SD') South Dakota
            option(value='TN') Tennessee
            option(value='TX') Texas
            option(value='UT') Utah
            option(value='VT') Vermont
            option(value='VA') Virginia
            option(value='WA') Washington
            option(value='WV') West Virginia
            option(value='WI') Wisconsin
            option(value='WY') Wyoming
        div.form-group
          label(for='zip') Zip Code
          br
          input.form-control(type='text' id='zip' placeholder='Zip Code' name='zip')
        div.form-group
          label(for='neighborhood_id') Neighborhood
          br
          select(type='text' id='neighborhood_id' name='neighborhood_id')
            option(value='1' name='Barker' selected='selected') Barker
            //- option(value='2' name='Breezedale') Breezedale
            //- option(value='3' name='Briarwood') Briarwood
            //- option(value='4' name='Brook Creek') Brook Creek
            //- option(value='5' name='Centennial') Centennial
            //- option(value='6' name='Congressional Place') Congressional Place
            //- option(value='7' name='Cottages') Cottages
            //- option(value='8' name='Deerfield') Deerfield
            option(value='9' name='downtown') Downtown
            option(value='10' name='East Lawrence') East Lawrence
            //- option(value='11' name='Edgewood TA') Edgewood TA
            //- option(value='12' name='Gateway') Gateway
            //- option(value='13' name='Hillcrest') Hillcrest
            //- option(value='14' name='Hills West') Hills West
            //- option(value='15' name='Indian Hills') Indian Hills
            //- option(value='16' name='Joseph Drive') Joseph Drive
            //- option(value='17' name='Meadows Place') Meadows Place
            //- option(value='18' name='Monterey') Monterey
            option(value='19' name='North Lawrence') North Lawrence
            option(value='20' name='Old West Lawrence') Old West Lawrence
            //- option(value='21' name='Oread Neighborhood') Oread Neighborhood
            //- option(value='22' name='Oread Residents') Oread Residents
            //- option(value='23' name='Park Hill') Park Hill
            //- option(value='24' name='Perry Park') Perry Park
            //- option(value='25' name='Pinckney') Pinckney
            //- option(value='26' name='Prairie Meadows') Prairie Meadows
            //- option(value='27' name='Prairie Park') Prairie Park
            //- option(value='28' name='Quail Ridge East') Quail Ridge East
            //- option(value='29' name='Quail Run') Quail Run
            //- option(value='30' name='Raintree') Raintree
            //- option(value='31' name='Scenic Riverway') Scenic Riverway
            //- option(value='32' name='South Meadow') South Meadow
            //- option(value='33' name='South Siders') South Siders
            //- option(value='34' name='Southern Parkway') Southern Parkway
            //- option(value='35' name='Stoneback Ridge') Stoneback Ridge
            //- option(value='36' name='Sunflower') Sunflower
            //- option(value='37' name='Sunset Hills') Sunset Hills
            //- option(value='38' name='The Cottages') The Cottages
            //- option(value='39' name='University Heights') University Heights
            option(value='40' name='University Place') University Place
            //- option(value='41' name='West Hills') West Hills
            //- option(value='42' name='West Lawrence') West Lawrence
            //- option(value='43' name='Western Hills') Western Hills
            //- option(value='44' name='Westwood') Westwood
            //- option(value='45' name='Woods on 19th') Woods on 19th
        div.form-group
          label(for='cuisine') Cuisine
          br
          select(type='text' id='cuisine' name='cuisine')
            option(value='African' selected='selected') African
            option(value='American') American
            option(value='Breakfast') Breakfast
            option(value='Cajun') Cajun
            option(value='Indian') Indian
            option(value='Italian') Italian
            option(value='Mexican') Mexican
            option(value='Sushi') Sushi
            option(value='Thai') Thai
            option(value='Vietnamese') Vietnamese
        div.form-group
          label Rating
          input(type='radio' name='rating' value='1' checked)
          input(type='radio' name='rating' value='2')
          input(type='radio' name='rating' value='3')
          input(type='radio' name='rating' value='4')
          input(type='radio' name='rating' value='5')
        div.form-group
          label(for='image') Image
          input.form-control(type='text' id='image' placeholder='Image URL' name='image')
        div.form-group
          label(for='bio')
          textarea.form-control(rows='5' id='bio' placeholder='Short Bio' name='bio')
        div.buttons
          button.btn.btn-primary#sub(type='submit') Submit
          a.btn.btn-primary(href='/restaurants') Cancel
